body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.head {
    margin-bottom: 25px;
}

.lit {
    margin: auto;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    color: black;


}

.container {
    background: darkgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.name {
    margin-top: 5px;
    flex-direction: column;
    margin-left: 5px;
    text-align: left;
    word-wrap: break-word;
    line-height: .5em;
    display: inline-flex;
    font-size: .5em;
    width: 20%;
}

.profileImg {

    align-self: flex-start;
}

.tweetText{
    word-wrap: normal;
     font-size: .8em;
    text-align: left;
    width: 80%;
    display: inline;
    margin-right: 10px;
}

.litLoud {

    -webkit-animation: pulse linear .5s infinite;
    animation: pulse linear .5s infinite;
}

@-webkit-keyframes pulse {
    0% { font-size:25px;
        color: red;
     } 
    50% { font-size:25px;
        color: green;
     } 
    100% { font-size:25px;
        color: blue;
     }
}
@keyframes pulse {
    0% { font-size:25px;
        color: red;
     } 
    50% { font-size:25px;
        color: green;
     } 
    100% { font-size:25px;
        color: blue;
     }
}